p.bot{
  background-color: #ebebeb;
  text-align: left;
  margin-right: 450px;
  padding: 5px;
  border-radius: 5px;
}

p.human{
  background-color: #7cf717;
  text-align: right;
  margin-left: 450px;
  padding: 5px;
  border-radius: 5px;
}

/* table.waku{
  border: 3px solid #e0e0e0;
} */

table.level0{
  border: 8px solid #1dd1a1;
}

table.level1{
  border: 8px solid #ee5253;
}

table.level2{
  border: 8px solid #ff6b6b;
}

table.level3{
  border: 8px solid #feca57;
}

table.level4{
  border: 8px solid #48dbfb;
}

span.level0{
  background-color: #1dd1a1;
}

span.level1{
  background-color: #ee5253;
}

span.level2{
  background-color: #ff6b6b;
}

span.level3{
  background-color: #feca57;
}

span.level4{
  background-color: #48dbfb;
}

textarea{
  resize: vertical;
}

div.level0{
  background-color: #ee5253 !important;
}
div.level1{
  background-color: #ff6b6b !important;
}
div.level2{
  background-color: #feca57 !important;
}
div.level3{
  background-color: #48dbfb !important;
}
div.level4{
  background-color: #1dd1a1 !important;
}
